.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-footer {
  /* min-height: calc(100vh - 500px);  */
  /* clear: both; */
  position:absolute;
  bottom:0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}


.App-header-button:link, .App-header-button:visited {
  /* background-color: #f44336; */
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.App-header-button:hover, .App-header-button:active {
  background-color: red;
}

.text-center {
  margin-top: 5%;
  margin-bottom: 5%;
}

.button-row {
  background-color:chartreuse;
  border-radius: 4px;
  background-position: center;
}

.button-top {
  align-items: right;
  width: 10%;
  background-color:coral;
  background-position: center;
  border-radius: 4px;
  transform: translateX(850%);
  margin-bottom: 2%;
}

.home-div{
  background-color: chartreuse;
  padding-top: 10%;
  padding-bottom: 10%;
}

.home-h1{
  font-size: 400%;
  height: 100%;
  width: 100%;
  line-height: 100px;
  text-align: center;
}
